.high {
	font-weight: bolder;
	font-size:larger;
}

.medium {
	font-weight: bold;
	font-size: large;
}

.low {
	/*empty*/
}

.product {
	font-size: 48px;
	font-weight: bolder;
}

.price {
	font-size: 36px;
	color: red;
	font-family: Verdana, sans-serif;
}
