.high {
	font-weight: bolder;
	font-size:larger;
}

.medium {
	font-weight: bold;
	font-size: large;
}

.low {
	/*empty*/
}

.product {
	font-size: 48px;
	font-weight: bolder;
}

.intro {
	/*empty*/
}

.price {
	font-size: 36px;
	color: red;
	font-family: Verdana, sans-serif;
	font-weight: bolder;
}

.stock {
	font-size: 32px;
	color:brown;
	font-weight: bold;
}

#footnote {
	font-weight: lighter;
	color: gray;
}
