.high {
	font-weight: bolder;
	font-size:larger;
}

.medium {
	font-weight: bold;
	font-size: large;
}

.low {
	/*empty*/
}

.product {
	font-size: 36px;
	font-weight: bolder;
}

.intro {
	font-size: 20px;
}

.price {
	font-size: 24px;
	color: red;
	font-family: Verdana, sans-serif;
	font-weight: bolder;
}

.stock {
	font-size: 16px;
	color:brown;
	font-weight: bold;
}

#footnote {
	font-weight: lighter;
	color: gray;
}

#p1 {
	width: 512px;
	height: 288px;
}

#p2 {
	width: 476px;
	height: 288px;
}

#p3 {
	width: 404px;
	height: 84px;
}

#p4 {
	width: 468px;
	height: 226px;
}

.gray-text {
	color: gray;
}